<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#/">Home</a></li>
	</ul>
	<h3 class="text-muted">sysex librarian</h3>
</div>

<tabs>
    <pane title="Operator 1">
        
        
        
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="op1.power" ng-change="setOp1OnOff()"><b>ON</b>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="op1.frequencyMode" ng-change="setOp1FreqMode()"><b>Frequency mode ratio</b>
            </label>
        </div>
        
        <sl-slider title="Volume" send-value-callback="setOp1Volume" id="op1Volume" min="0" max="127" step="1"></sl-slider>
        
        <sl-slider title="Detune" send-value-callback="setOp1Detune" id="op1Detune" min="0" max="14" step="1"></sl-slider>
        
        <sl-slider title="Rate 1" send-value-callback="setOp1Rate1" id="op1Rate1" min="0" max="99" step="1"></sl-slider>
        
        <sl-slider title="Rate 2" send-value-callback="setOp1Rate2" id="op1Rate2" min="0" max="99" step="1"></sl-slider>
        
        <sl-slider title="Rate 3" send-value-callback="setOp1Rate3" id="op1Rate3" min="0" max="99" step="1"></sl-slider>
        
        <sl-slider title="Rate 4" send-value-callback="setOp1Rate4" id="op1Rate4" min="0" max="99" step="1"></sl-slider>

    </pane>
    <pane title="Operator 2">
        Operator 2 sliders
    </pane>
    <pane title="Operator 3">
        Operator 3 sliders
    </pane>
    <pane title="Operator 4">
        Operator 4 sliders
    </pane>
    <pane title="Operator 5">
        Operator 5 sliders
    </pane>
    <pane title="Operator 6">
        Operator 6 sliders
    </pane>

</tabs>

<div class="row marketing">
	<h4>In:</h4>
	<p>
        <select ng-model="selectedMidiInDevice" ng-options="c.name for c in midiInDevices"></select>
    </p>

	<h4>Out:</h4>
	<p>
        <select ng-model="selectedMidiOutDevice" ng-options="c.name for c in midiOutDevices"></select>
    </p>
    <hr>
    <p>
        <a class="btn btn-lg btn-success" ng-click="sendSysex()">Play note</a>
    </p>

</div>

<div class="footer">
	<p>Uses <a href="https://github.com/cwilso/WebMIDIAPIShim">Web MIDI API Polyfill</a> by Chris Wilson</p>
    <p>Requires <a href="http://jazz-soft.net">Jazz-Plugin</a> by Jazz-Soft.net</p>
</div>