<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#/">Home</a></li>
	</ul>
	<h3 class="text-muted">sysex librarian</h3>
</div>

<tabs>
    <pane title="Operator 1">
        <sl-slider title="Otsikko" modelId="dx7.op1.volume" id="op1Volume2" min="0" max="127" step="1" ng-model="dx7.op1.volume" ng-change="setOp1Volume()"></sl-slider>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="op1.power" ng-change="setOp1OnOff()"><b>ON</b>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="op1.frequencyMode" ng-change="setOp1FreqMode()"><b>Frequency mode ratio</b>
            </label>
        </div>

        <div class="control-group">
            <label class="control-label" for="op1Volume">Volume</label>
            <div class="controls">
                <input id="op1Volume" title="OP1 volume" value="volume" type="range" name="op1Volume" min="0" max="99" step="1" ng-model="dx7.op1.volume" ng-change="setOp1Volume()"/> {{dx7.op1.volume}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="op1Detune">Detune</label>
            <div class="controls">
                <input id="op1Detune"  title="OP1 detune" value="detune" type="range" name="op1Detune" min="0" max="14" step="1" ng-model="op1.detune" ng-change="setOp1Detune()"/>{{op1.detune}}
            </div>
        </div>


        <div class="control-group">

            <label class="control-label" for="op1Rate1">Rate 1</label>
            <div class="controls">
                <input id="op1Rate1" title="OP1 rate" type="range" name="op1Rate1" min="0" max="99" step="1" ng-model="op1.rate1" ng-change="setOp1Rate1()" /> {{op1.rate1}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="op1Rate2">Rate 2</label>
            <div class="controls">
                <input id="op1Rate2" title="OP1 rate 2" type="range" name="op1Rate2" min="0" max="99" step="1" ng-model="op1.rate2" ng-change="setOp1Rate2()" /> {{op1.rate2}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="op1Rate3">Rate 3</label>
            <div class="controls">
                <input id="op1Rate3" title="OP1 rate 3" type="range" name="op1Rate3" min="0" max="99" step="1" ng-model="op1.rate3" ng-change="setOp1Rate3()" /> {{op1.rate3}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="op1Rate3">Rate 4</label>
            <div class="controls">
                <input id="op1Rate4" title="OP1 rate 4" type="range" name="op1Rate4" min="0" max="99" step="1" ng-model="op1.rate4" ng-change="setOp1Rate4()" /> {{op1.rate4}}
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="op1Ratio">Ratio</label>
            <div class="controls">
                <input id="op1Ratio" title="OP1 ratio" type="range" name="op1Ratio" min="0" max="31" step="1" ng-model="op1.crFreq" ng-change="setOp1Freq()"/> {{op1.crFreq}}
            </div>
         </div>
    </pane>
    <pane title="Operator 2">
        Operator 2 sliders
    </pane>
    <pane title="Operator 3">
        Operator 3 sliders
    </pane>
    <pane title="Operator 4">
        Operator 4 sliders
    </pane>
    <pane title="Operator 5">
        Operator 5 sliders
    </pane>
    <pane title="Operator 6">
        Operator 6 sliders
    </pane>

</tabs>

<div class="row marketing">
	<h4>In:</h4>
	<p>
        <select ng-model="selectedMidiInDevice" ng-options="c.name for c in midiInDevices"></select>
    </p>

	<h4>Out:</h4>
	<p>
        <select ng-model="selectedMidiOutDevice" ng-options="c.name for c in midiOutDevices"></select>
    </p>
    <hr>
    <p>
        <a class="btn btn-lg btn-success" ng-click="sendSysex()">Play note</a>
    </p>

</div>

<div class="footer">
	<p>Uses <a href="https://github.com/cwilso/WebMIDIAPIShim">Web MIDI API Polyfill</a> by Chris Wilson</p>
    <p>Requires <a href="http://jazz-soft.net">Jazz-Plugin</a> by Jazz-Soft.net</p>
</div>