<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
	</ul>
	<h3 class="text-muted">sysex librarian</h3>
</div>

<div class="jumbotron">
	<div>{{logMessage}}</div>
</div>

<div class="row marketing">
	<h4>In:</h4>
	<p>
        <select ng-model="selectedMidiInDevice" ng-options="c.name for c in midiInDevices"></select>
    </p>

	<h4>Out:</h4>
	<p>
        <select ng-model="selectedMidiOutDevice" ng-options="c.name for c in midiOutDevices"></select>
    </p>
    
    <h4>Sysex</h4>
    
    <p>
        <input type="text" ng-model="sysex"/>
    </p>
    <p>
        <a class="btn btn-lg btn-success" ng-click="sendSysex()">Send sysex (WIP)</a>
    </p>

</div>

<div class="footer">
	<p>Uses <a href="https://github.com/cwilso/WebMIDIAPIShim">Web MIDI API Polyfill</a> by Chris Wilson</p>
    <p>Requires <a href="http://jazz-soft.net">Jazz-Plugin</a> by Jazz-Soft.net</p>
</div>